{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sentiment Analysis Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>
        #main{
            display: flex;
            justify-content: space-between;
        }
        #main2{
            display: flex;
            justify-content: space-between;
        }

    </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">

        <!-- Topbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#"><h3 style="color: #1DA1F2;">Twitter Sentiment Analysis</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news'%}"><h4>News</h4></a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'statistic'%}"><h4>Statistics</h4></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" name="hashphrase" id="hashphrase" placeholder="Search for...">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
          <i class="fas fa-search fa-sm"></i>
      </button>
    </form>
  </div>
</nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="row">
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->



<div class="container-fluid">
<h1 class="h3 mb-0 text-gray-800" style="font-size: 30px;">Dashboard</h1>
    <br>
    <div id='main'>

        <div><h2 style="font-size: 27px; color: #1DA1F2;">Sentiment Analysis Of {{request.POST.hashphrase.capitalize}} Tweets:</h2></li></div>
        <div><form method="POST" action="{% url 'oldtweets'%}">
            {% csrf_token %}
            <input class="form-control form-control-lg" type="hidden" name="oldtweets" id="oldtweets" value={{ request.POST.hashphrase }}>
            <button type="submit" class="btn btn-primary" id="button">Trends on old tweets</button>
        </form>
        </div>
    </div>
<br>
<p>
<div class="row">
 <div class="col-sm-12">
     <div class="card">
            <div>{{ curr | safe }}</div>
     </div>
 </div>
</div>
<!--  <div class="col-sm-6">-->
<!--    <div class="card">-->
<!--        <div>{{ old | safe }}</div>-->
<!--    </div>-->
<!--  </div>-->
</p>


<p>
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
        <div>{{ plot2 | safe }}</div>
    </div>
  </div>
    <div class="col-sm-6">
    <div class="card">
        <div>{{ plot3 | safe }}</div>
    </div>
    </div>
</div>
</p>

<!--wordcloud-->

<p>
<div class="card-deck">
  <div class="card">
    <h2 style="text-align: center; padding: 20px;">Most Popular Positive Words</h2>
    <img class="card-img-top" src="{{ pos }}" alt="Card image cap">
  </div>
  <div class="card">
    <h2 style="text-align: center; padding: 20px;">Most Popular Negative Words</h2>
    <img class="card-img-top" src="{{ neg }}" alt="Card image cap">
  </div>
</div>
</p>




<!--positive and negative tweets-->

<p>
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
        <ul class="list-group">
            <h2 style="text-align: center; padding: 20px;">Top Positive Tweets</h2>
        {% for i in positive %}
            <li class="list-group-item list-group-item-primary">{{i}}</li>
        {% endfor %}
        </ul>
    </div>
  </div>
    <div class="col-sm-6">
    <div class="card">
        <ul class="list-group">
            <h2 style="text-align: center; padding: 20px;">Top Negative Tweets</h2>
        {% for i in negative %}
                <li class="list-group-item list-group-item-danger">{{i}}</li>
        {% endfor %}
        </ul>
    </div>
    </div>
</div>
</p>
</div>

          <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Hack4Cause 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
</div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>

